*{
  margin: 0px; 
  padding: 0px; 
  border: 0px; 
}  

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}



body{
      font-family: georgia, arial, sans-serif;
	  position:relative;
	  --background: url(../common/gradHor.jpg) repeat-y center top;
    }

#header{
	width: auto;
	height: 100px;
	background: url(../common/navbar.jpg) repeat-x center top;
	text-align: center;
}

#leftSpan{
	display: inline-block;
	font-size: 240%;
	margin: 10px;
}

#rightSpan{
	display: inline-block;
	font-family: georgia italic, sans-serif;
	font-size: 120%;
}

#linksDiv{
	padding: 10px;
	border-top: 2px solid;
	border-bottom: 2px solid;
	text-align: center;
	background-color: #C9EFF2;
}

#linksDiv span{
	margin: 30px;
}

a{
	text-decoration: none;
}



input[type='radio'] {
	display: none;
}

#outerdiv{
    list-style-type: none;
	max-width: 600px;
	margin-left:auto;
	margin-right: auto;
	display: block;
	text-align: center;	
}

#intro{
	padding: 10px;
	border: 2px;
	border-color: #000000;
	border-style: solid;	
}

#radSet1 input[type='radio']+label{
	background: url(images/pig1.png);
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

#radSet1 input[type='radio']:checked+label{
	background: url(images/pig2.png);
}

.answers{
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
	border: 2px;
	border-color: #000000;
	border-style: solid;
	padding: 5px;
	font-size: large; 
	font-weight: bold;
}

.answer{
	margin-top: 10px;
	margin-left: 20px;
	color: #484DE9;
	font-weight: bold;
}

#wrongAns{
	color: #9C1605;
}

#question, #question+span{
	margin-left: 10px;
	font-weight: italic;
	padding-top: 20px;
	padding-bottom: 20px;	
}

.statements{
	margin: 10px;
}