*{
  margin: 0px; 
  padding: 0px; 
  border: 0px; 
}  

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}



body{
      font-family: georgia, arial, sans-serif;
	  position:relative;
	  --background: url(../common/gradHor.jpg) repeat-y center top;
    }

#header{
	width: auto;
	height: 100px;
	background: url(../common/navbar.jpg) repeat-x center top;
	text-align: center;
}

#leftSpan{
	display: inline-block;
	font-size: 240%;
	margin: 10px;
}

#rightSpan{
	display: inline-block;
	font-family: georgia italic, sans-serif;
	font-size: 120%;
}

#linksDiv{
	padding: 10px;
	border-top: 2px solid;
	border-bottom: 2px solid;
	text-align: center;
	background-color: #C9EFF2;
}

#linksDiv span{
	margin: 30px;
}

a{
	text-decoration: none;
}

#outerDiv{
	position: relative;
	margin:0 auto;
	text-align: center;
	max-width: 600px;
}

canvas{
	position: absolute;
	top: 20px;
	left: 20px;
	background: transparent;
	border: 3px solid;
	--background-color: #f00
}

#bgCanvas{
	background-color: #487299;
}

#newGame{
	position: absolute;
	top: 480px;
	left: 180px;
	width: 100px;
	height: 50px;
	font-weight: bold;
	background-color: #ccc;
}

#gameOver{
	position: absolute;
	left: 500px;
	top: 20px;
}

#target{
	position: absolute;
	top: 430px;
	left: 120px;
}

.targetBlocks{
	font-size: 180%;
	font-weight: bold;
}