*{
  margin: 0px; 
  padding: 0px; 
  border: 0px; 
}  

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}



body{
      font-family: georgia, arial, sans-serif;
	  position:relative;
	  --background: url(../common/gradHor.jpg) repeat-y center top;
    }

#header{
	width: auto;
	height: 100px;
	background: url(../common/navbar.jpg) repeat-x center top;
	text-align: center;
}

#leftSpan{
	display: inline-block;
	font-size: 240%;
	margin: 10px;
}

#rightSpan{
	display: inline-block;
	font-family: georgia italic, sans-serif;
	font-size: 120%;
}

#linksDiv{
	padding: 10px;
	border-top: 2px solid;
	border-bottom: 2px solid;
	text-align: center;
	background-color: #C9EFF2;
}

#linksDiv span{
	margin: 30px;
}

a{
	text-decoration: none;
}
	
#imgTxtPair{
	background-color: #fff;
}
	
#outerDiv{
    list-style-type: none;
	max-width: 600px;
	margin-left:auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

#radioButts{
	padding-top: 30px;
	padding-bottom: 30px;
}

#charDes{
	padding-top: 30px;
	padding-bottom: 30px;	
}

#leftArrow, #rightArrow{
	padding-left: 20px;
	padding-right: 20px;
}

/*div.span{
	float:clear;
}*/

input[type='radio']{
	display: none;
}

#radioButts input[type='radio']+label{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

#radioButts input[type='radio']:checked+label{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}
