<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Gamifly</title>
		<meta name="description" content="This is a platform for learning Chinese characters. Chinese learning gamified. This is an attempt to make learning Chinese characters easy and fun. Less rote learning, more logical learning. Play more, memorize less.">
		<meta name="keywords" content="startup,chinese,mandarin,language,language-learning,games,logic games,gamification,chinese characters">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
    </head>
    
    <body>
    
    </body>
</html>